[submodule "submodule/Catch"]
	path = submodule/Catch
	url = https://github.com/philsquared/Catch
[submodule "submodule/dlib"]
	path = submodule/dlib
	url = https://github.com/davisking/dlib
[submodule "submodule/bullet3"]
	path = submodule/bullet3
	url = https://github.com/bulletphysics/bullet3
